<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="theme.css">
	<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="getColor.js"></script>
	</head>
	<title>Upload new File</title>
</head>

<body>
	<h1 align="center">Upload new File</h1>

	<canvas id="example" width="200" height="60"></canvas>
	<div id="status"></div>

	<form action="/upload" method=post enctype=multipart/form-data>
	     	 <p>
	     	 	<input type=file name=file>
	        		<input type=submit value=Upload><br> 
	        	</p>
	      
	</form>


	<canvas id="example" width="200" height="60"></canvas>
	<script>
		var canvas = document.getElementbyId("example");
		var context = canvas.getContext('2d');
     		var imageObj = new Image();

     		imageObj.onload = function() {
     			context.drawImage(imageObj, 69, 50);
		};
      		imageObj.src = "/static/input/User_image.png"
	</script>
	<div id="status"></div>

	<img src="{{ data }}" align="middle" vspace="10px" / > <br>
</body>

<!-- {{ data }} --> 

